<%- include('partials/head') %>
<body>
    <div class="container primary-wrapper">
        <%- include('partials/flashMessage') %>
        <div class="form-group">
            <form action="signup" method="POST">
                <h4>Signup</h4>
                <div class="form-item mb-3">
                    <label for="first_name" class="input-label">First Name</label>
                    <input type="text" name="first_name" class="form-control" placeholder="Enter your first name here..." required>
                </div>
                <div class="form-item mb-3">
                    <label for="last_name" class="input-label">Last Name</label>
                    <input type="text" name="last_name" class="form-control" placeholder="Enter your last name here..." required>
                </div>
                <div class="form-item mb-3">
                    <label for="username" class="input-label">username</label>
                    <input type="username" name="username" class="form-control" placeholder="Enter a unique username">
                </div>
                <div class="form-item mb-3">
                    <label for="email" class="input-label">Email</label>
                    <input type="text" name="email" class="form-control" placeholder="Example@example.com" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="form-item mb-3">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                </div>
                <div class="form-item mb-3">
                    <button id="signup-btn" class="btn btn-success">Signup</button>
                </div>
            </form>
            <p>Already have an account? Login <span><a href="/api/users/login">here</a></span></p>
        </div>
    </div>
</body>
</html>