<div class="note-form">
    <form id="note-form" data-id="<%= note._id %>">
        <div>
            <input type="text" name="title" value="<%= note.title %>" id="title" class="form-control" placeholder="Title" required>
        </div>
        <div>
            <label for="body">note:</label>
            <textarea name="body" id="note-field" class="form-control" required><%= note.body %></textarea>
        </div>
        <div>
            <button id="cancel-btn" class="btn btn-outline-secondary">cancel</button>
            <button id="save-btn" class="btn btn-outline-primary">save</button>
        </div>
    </form>
</div>